@media screen
{
	.easyMenu
	{
		border: 1px solid #9C9E9D;
		background-color: #D8D8D8;
		visibility: hidden;
	}
	
	.easyMenuItemContainer
	{
		border: 2px solid #FFFFFF;
		background-color: Transparent;
		padding: 3px;
	}

	.easyMenuItem
	{
		cursor: auto; cursor: pointer;
		padding: 2px;
		padding-left: 5px;
		font-family: Tahoma;
		font-size: 11px;
		height: 16px;
		background-image: url('bg_menuItem.gif');
		background-position: 1px 2px;
		background-repeat: no-repeat;
	}
	
	.easyMenuItem a
	{
		cursor: auto; cursor: pointer;
		color: Black;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
	}

	.easyMenuItemIconCell
	{
	}

	.easyMenuItemIconCell a
	{
	}

	.easyMenuItemContentCell
	{
	}

	.easyMenuItemContentCell a
	{
	}

	.easyMenuItemOver
	{
		cursor: auto; cursor: pointer;
		padding: 2px;
		padding-left: 5px;
		font-family: Tahoma;
		font-size: 11px;
		height: 16px;
		background-image: url('bg_menuItemOver.gif');
		background-position: 1px 2px;
		background-repeat: no-repeat;
	}
	
	.easyMenuItemOver a
	{
		color: Black;
		cursor: auto; cursor: pointer;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
	}

	.easyMenuItemIconCellOver
	{
	}

	.easyMenuItemIconCellOver a
	{
	}

	.easyMenuItemContentCellOver
	{
	}

	.easyMenuItemContentCellOver a
	{
	}

	.easyMenuSeparator
	{
		height: 16px;
		font-size: 1px;
		color: Silver;
		background-image: url('bg_separator.gif');
		background-position: 1px 2px;
		background-repeat: no-repeat;
	}
	
	.easyMenuSeparatorIconCell
	{
	}
	
	.easyMenuSeparatorContentCell
	{
	}

	.easyMenuSeparatorOver
	{
		height: 16px;
		font-size: 1px;
		color: Silver;
		background-image: url('bg_separator.gif');
		background-position: 1px 2px;
		background-repeat: no-repeat;
	}

	.easyMenuSeparatorIconCellOver
	{
	}
	
	.easyMenuSeparatorContentCellOver
	{
	}

}